{% extends "homeUm.html" %}
{%block imagem%}<img src="/media/{{configuracoes.imagem1}}" width="100" height="30">{%endblock imagem%}
{%block igreja%}{{igreja.nomeDaIgreja}}{%endblock igreja%}
{% block content %}

    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
{% for resultado in resultado %}
                <!-- First Blog Post -->
                <h2 color="black">
                    <a href="/gestao/noticias/lermais?id={{resultado.id}}">{{resultado.titulo}}</a>
                </h2>
                <p class="lead">
		    Por:
                    {{resultado.nomeDoMembro}}
                </p>
                <p><i class="fa fa-clock-o"></i> Data da publicação:{{resultado.dataPublicacao}}</p>
		<hr>
                    <img class="img-responsive img-hover" src="/media/{{resultado.foto}}" alt="" style = "max-width:auto; max-heght:auto; width:780px; height:450px;">
                <hr>
                <p><a href="{{resultado.noticia}}"><h3> Baixar<h3>  </a></p>

                <hr>

                
{% endfor  %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

            </div>

        </div>
        <!-- /.row -->

    </div>
    <style type="text/css">
        .row{
            padding-top: 6px;
        }
        .container{
        margin-left: 80px;
        margin-right: 80px;
    }
    </style>
{%endblock content%}
