{% extends "base.html" %}
{%block igreja1%}{{igreja.nomeDaIgreja}}{%endblock igreja1%}
{%block igreja2%}{{igreja.nomeDaIgreja}}{%endblock igreja2%}
{% block ano %} {{ano}}{% endblock ano %}
{%block igreja3%}{{igreja.nomeDaIgreja}} {%endblock igreja3%}
{% block desenvolvedores %} {{configuracoes.desenvolvedores}}{% endblock desenvolvedores %}
{% block content %}

<div class="col-sm-9" >
  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs col-sm-10" role="tablist">
    <li role="presentation" class="active" style="font-size:12px;"><a href="#visualizarMembro" aria-controls="visualizarMembro" role="tab" data-toggle="tab">Visualizar Membro</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content col-sm-10" style = "background-color: white; box-shadow: 2px 10px 10px 3px grey;">
    <div role="tabpanel" class="tab-pane fade in active" id="visualizarMembro" style="font-size:12px; margin-top: 10px;">
  <form class="form-horizontal" role="form" method="GET">{% csrf_token %}
  {{form.errors}}
<div class="form-group" style="margin-left:3px;">
  <fieldset>
<legend>Fotografia</legend> 
<div class="col-sm-2" style="margin-left:60%;">
{% for resultado in resultado %}<img src="/media/{{resultado.foto}}" width="200" heigth="400"><p></p> {%endfor%} 
</div>
</fieldset>
<fieldset>
<legend>Dados Pessoais <a style ="font-size:13px;" href="/gestao/financas/dizimos/visualizar?id={%for resultado in resultado%}{{resultado.id}}{%endfor%}">(ver dízimos)</a> / <a style ="font-size:13px;" href="/gestao/financas/contribuicao/visualizar?id={%for resultado in resultado%}{{resultado.id}}{%endfor%}">(ver contribuicões)</a>
</legend>
 
<table style="width:50%">
  {% for resultado in resultado %}
  <tr>
    <td>Nome:</td>
    <td><b>{{resultado.nomeDoMembro}}</b></td>
  </tr>
 <tr>
    <td>Data de Nascimento:</td>
    <td><b>{{resultado.dataDeNascimento}}</b></td>
  </tr>
  <tr>
    <td>Sexo:</td>
    <td><b>{{resultado.sexo}}</b></td>
  </tr>
   <tr>
    <td>Provincia:</td>
    <td><b>{{resultado.nomeDaProvincia}}</b></td>
  </tr>
   <tr>
    <td>Pais:</td>
    <td><b>{{resultado.nomeDoPais}}</b></td>
  </tr>
  <tr>
    <td>Estado Civil:</td>
    <td><b>{{resultado.estadoCivil}}</b></td>
  </tr>
  <tr>
    <td>Cônjuge:</td>
    <td><b>{{resultado.conjuge}}</b></td>
  </tr>
  <tr>
    <td>Pai:</td>
    <td><b>{{resultado.filiacaoPai}}</b></td>
  </tr>
   <tr>
    <td>Mae:</td>
    <td><b>{{resultado.filiacaoMae}}</b></td>
  </tr>
   <tr>
    <td>Numero de Identificação:</td>
    <td><b>{{resultado.numeroDeIdentificacao}}</b></td>
  </tr>
</table>
</fieldset>


<fieldset>
<legend>Dados de contacto</legend> 
 <table style="width:50%">
  <tr>
    <td>Endereço:</td>
    <td><b>{{resultado.endereco}}</b></td>
  </tr>
  <tr>
    <td>Bairro:</td>
    <td><b>{{resultado.bairro}}</b></td>
  </tr>
  <tr>
    <td>Telefone:</td>
    <td><b>{{resultado.telefone}}</b></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><b>{{resultado.email}}</b></td>
  </tr>
</table> 
</fieldset>

<fieldset>
<legend>Dados Profissionais</legend>
<table style="width:50%">

<tr>
    <td>Grau Académico:</td>
    <td><b>{{resultado.grauAcademico}}</b></td>
  </tr>
  <tr>
    <td>Profissão:</td>
    <td><b>{{resultado.profissao}}</b></td>
  </tr>
</table>

<fieldset>
<legend>Dados de Membresia</legend>
<table style = "width:50%">
<tr>
    <td>Numero de Membro:</td>
    <td><b>{{resultado.numeroDeMembro}}</b></td>
  </tr>
  <tr>
    <td>Data de Conversão:</td>
    <td><b>{{resultado.dataDeConversao}}</b></td>
  </tr>
  <tr>
    <td>Procedência:</td>
    <td><b>{{resultado.procedencia}}</b></td>
  </tr>
   <tr>
    <td>Forma de Admissão:</td>
    <td><b>{{resultado.formaDeAdmissao}}</b></td>
  </tr>
   <tr>
    <td>Data de Baptismo:</td>
    <td><b>{{resultado.dataDeBaptismo}}</b></td>
  </tr>
   <tr>
    <td>Local de Baptismo:</td>
    <td><b>{{resultado.localDeBaptismo}}</b></td>
  </tr>
   <tr>
    <td>Data de Consagração a Diácono:</td>
    <td><b>{{resultado.dataDeConsagracaoDiacono}}</b></td>
  </tr>
   <tr>
    <td>Data de Consagração a Evangelista:</td>
    <td><b>{{resultado.dataDeConsagracaoEvangelista}}</b></td>
  </tr>
   <tr>
    <td>Data de Consagração a Pastor:</td>
    <td><b>{{resultado.dataDeConsagracaoPastor}}</b></td>
  </tr>
   <tr>
    <td>Data de Consagração a Missionario:</td>
    <td><b>{{resultado.dataDeConsagracaoMissionario}}</b></td>
  </tr>
   <tr>
    <td>Departamento:</td>
    <td><b>{{resultado.nomeDoDepartamento}}</b></td>
  </tr>
   <tr>
    <td>Igreja:</td>
    <td><b>{{resultado.nomeDaIgreja}}</b></td>
  </tr>
  {%endfor%}

</table>
<p></fieldset></p>
<div class=" col-sm-2" style="margin-left:-15px;">
<button type="reset" class="btn btn-default" onclick="voltar()">Voltar</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>

<script type="text/javascript">

function voltar(){
  window.location= "/gestao/membro/pesquisar/";
}
</script>


{% endblock content %}
